/*
Used code from:
https://www.w3schools.com/howto/howto_css_search_button.asp
- time purpose reasons
*/
.body {
    margin: auto;
    width: 80%;
}

* {
    box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

.table-wrapper {
    width: 100%;
    margin-top: 50px;
}

.fa-check-circle {
    color: forestgreen;
}

.fa-times-circle {
    color: red;
}
.alert {
    margin-top: 10px;
}

.headers-wrapper {
    display: flex;
    justify-content: space-between;
}

